<div class="wallet-header-container">
  <div class="wallet-header-branding-container">
    <img src="assets/logo-icon.webp" class="xgame-header-logo" />
    <span class="wallet-list-header-label">Accounts</span>
  </div>
  <div class="wallet-header-controls">
    <app-wallet-search-bar></app-wallet-search-bar>
    <app-add-menu></app-add-menu>
    <app-settings-menu></app-settings-menu>
  </div>
</div>
<div class="wallet-list-container">
  <app-wallet-list-item
    *ngFor="let wallet of walletList"
    [wallet]="wallet"
  ></app-wallet-list-item>
</div>
