.create-account-header-container {
  display: flex;
  justify-content: center;
  padding-top: 0.5rem;
  padding-left: 1rem;
  padding-bottom: 0.5rem;
  padding-right: 1rem;
  margin-bottom: 0.5rem;
  border: 1px solid #7e7576;
}

.create-account-header-inner-container {
  display: flex;
  flex-direction: row;
  min-width: 32rem;
  max-width: 32rem;
  min-height: 3rem;
  max-height: 3rem;
}

.create-account-content-layout-container {
  display: grid;
  place-content: center;
}

.create-account-content-container {
  width: 32rem;
  margin: 2rem;
}

.create-account-header-branding-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  align-self: center;
  flex: 4;
  gap: 1rem;
}

.xode-header-logo {
  height: 2rem;
  width: 2rem;
}

.create-account-header-label {
  font-family: sans-serif;
  font-size: 1.5rem;
  font-weight: 100;
}

.create-account-header-controls {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-self: center;
  flex: 1;
}

.generated-mnemonic-seed-header {
  font-weight: 500;
}

.generated-mnemonic-seed-container {
  padding: 1rem;
  border: 1px solid #7e7576;
}

.copy-generated-mnemonic-button-container {
  margin-top: 0.5rem;
}

.copy-generated-mnemonic-button {
  display: flex;
  align-items: center;
}

.mnemonic-safekeeping-note-container {
  display: flex;
  flex-direction: row;
  margin-top: 1rem;
  margin-bottom: 1rem;
  gap: 0.5rem;
}

.icon-container {
  font-size: 1.25rem;
}

.confirm-saved-mnemonic-prompt-container {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.next-button {
  width: 100%;
}

.create-account-form-container {
  width: 32rem;
  margin: 2rem;
}

.create-wallet-input-container {
  display: flex;
  flex-direction: column;
  flex: 1;
}
