<div class="create-account-header-container">
  <div class="create-account-header-branding-container">
    <img src="assets/logo-icon.webp" class="xgame-header-logo" />
    <span class="create-account-header-label">Create Account</span>
  </div>
  <div class="create-account-header-controls">
    <a href="/home">Cancel</a>
  </div>
</div>

<div class="create-acount-content-layout-container">
  <div class="create-acount-content-container">
    <div class="new-wallet-address-preview-container">
      <div class="new-wallet-address-image-preview-container">
        <img
          src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fi.bandori.party%2Fu%2Fi%2F41Tomori-Takamatsu-JIRr83.png&f=1&nofb=1&ipt=01bb4a8c5c63ed353fd8e50b506c0e22e1238e2113debdea3fb3f490edd129f3&ipo=images"
          class="new-wallet-address-image-preview"
        />
      </div>
      <div class="new-wallet-address-details-preview-container">
        <span class="new-wallet-address-name-preview">&lt;unknown&gt;</span>
        <div class="new-wallet-address-label-container">
          <span>{{ newGeneratedWalletAddress }}</span>
          <button
            mat-icon-button
            [cdkCopyToClipboard]="newGeneratedWalletAddress"
            class="new-wallet-preview-clipboard-icon"
          >
            <mat-icon [inline]="true">file_copy</mat-icon>
          </button>
        </div>
      </div>
    </div>

    <span class="generated-mnemonic-seed-header"
      >Generated 12-word Mnemonic Seed:</span
    >
    <div class="generated-mnemonic-seed-container">
      <p>
        {{ newGeneratedMnemonicSeed }}
      </p>
    </div>

    <div class="copy-generated-mnemonic-button-container">
      <button
        mat-button
        class="copy-generated-mnemonic-button"
        [cdkCopyToClipboard]="newGeneratedMnemonicSeed"
      >
        <mat-icon>file_copy</mat-icon> Copy to clipboard
      </button>
    </div>

    <div class="mnemonic-safekeeping-note-container">
      <div class="icon-container">
        <mat-icon [inline]="true">warning</mat-icon>
      </div>
      <div>
        Please write down your wallet's mnemonic seed and keep it in a safe
        place. The mnemonic can be used to restore your wallet. Keep it
        carefully to not lose your assets.
      </div>
    </div>

    <div class="confirm-saved-mnemonic-prompt-container">
      <mat-checkbox [(ngModel)]="isMnemonicConfirmedToBeSaved"
        >I have saved my mnemonic seed safely.</mat-checkbox
      >
    </div>

    <button
      mat-raised-button
      [disabled]="!isMnemonicConfirmedToBeSaved"
      color="primary"
      class="next-button"
    >
      Next
    </button>
  </div>
</div>
