<div class="create-account-header-container">
  <div class="create-account-header-branding-container">
    <img src="assets/logo-icon.webp" class="xgame-header-logo" />
    <span class="create-account-header-label">Create Account</span>
  </div>
  <div class="create-account-header-controls">
    <a href="/home">Cancel</a>
  </div>
</div>

<div class="create-account-content-layout-container">
  <div style="margin: 2rem; width: max-content">
    <app-wallet-address-preview-card
      [newGeneratedWalletAddress]="newGeneratedWalletAddress"
    ></app-wallet-address-preview-card>
  </div>

  <div
    class="create-account-content-container"
    *ngIf="createFormStepNo$.getValue() === 1"
  >
    <span class="generated-mnemonic-seed-header"
      >Generated 12-word Mnemonic Seed:</span
    >
    <div class="generated-mnemonic-seed-container">
      <p>
        {{ newGeneratedMnemonicSeed }}
      </p>
    </div>

    <div class="copy-generated-mnemonic-button-container">
      <button
        mat-button
        class="copy-generated-mnemonic-button"
        [cdkCopyToClipboard]="newGeneratedMnemonicSeed"
      >
        <mat-icon>file_copy</mat-icon> Copy to clipboard
      </button>
    </div>

    <div class="mnemonic-safekeeping-note-container">
      <div class="icon-container">
        <mat-icon [inline]="true">warning</mat-icon>
      </div>
      <div>
        Please write down your wallet's mnemonic seed and keep it in a safe
        place. The mnemonic can be used to restore your wallet. Keep it
        carefully to not lose your assets.
      </div>
    </div>

    <div class="confirm-saved-mnemonic-prompt-container">
      <mat-checkbox [(ngModel)]="isMnemonicConfirmSaveChecked"
        >I have saved my mnemonic seed safely.</mat-checkbox
      >
    </div>

    <button
      mat-raised-button
      [disabled]="!isMnemonicConfirmSaveChecked"
      color="primary"
      class="next-button"
      (click)="goToCreateAccountNextStep()"
    >
      Next
    </button>
  </div>

  <div
    class="create-account-form-container"
    *ngIf="createFormStepNo$.getValue() === 2"
  >
    <mat-form-field class="create-wallet-input-container">
      <mat-label for="account_name"
        >A descriptive name for your account</mat-label
      >
      <input matInput type="text" id="account_name" />
    </mat-form-field>
    <mat-form-field class="create-wallet-input-container">
      <mat-label for="account_password"
        >A new password for your account</mat-label
      >
      <input matInput type="text" id="account_password" />
    </mat-form-field>
    <button mat-button (click)="goToCreateAccountPrevStep()">
      <mat-icon>arrow_back</mat-icon>
    </button>
    <button mat-raised-button>
      <mat-icon>arrow_forward</mat-icon>
      Add the account with the generated seed
    </button>
  </div>
</div>
