<div class="wallet-main-container">
  <div class="wallet-details-container">
    <app-identicon [address]="wallet.address"></app-identicon>
    <div class="wallet-text-details-container">
      <span class="wallet-name-label">{{ wallet.name }}</span>
      <span class="wallet-address-label">{{ wallet.address }}</span>
    </div>
  </div>
  <div class="wallet-controls-container">
    <div class="wallet-common-operations-container">
      <button
        mat-icon-button
        *ngIf="!isPreview"
        color="primary"
        (click)="toggleVisibility()"
      >
        <mat-icon>{{ isVisible ? "visibility" : "visibility_off" }}</mat-icon>
      </button>
      <button
        mat-icon-button
        color="primary"
        [cdkCopyToClipboard]="wallet.address"
      >
        <mat-icon>file_copy</mat-icon>
      </button>
    </div>
    <div *ngIf="!isPreview" class="wallet-extra-operations-container">
      <button
        mat-icon-button
        color="primary"
        [matMenuTriggerFor]="moreWalletSettings"
      >
        <mat-icon>more_vert</mat-icon>
      </button>
    </div>
  </div>
</div>

<mat-menu #moreWalletSettings>
  <button mat-menu-item>Rename</button>
  <button mat-menu-item>Forget Account</button>
</mat-menu>
