<div class="wallet-main-container">
  <div class="wallet-details-container">
    <img src="{{ wallet.image }}" class="wallet-image" />
    <div class="wallet-text-details-container">
      <span class="wallet-name-label">{{ wallet.name }}</span>
      <span class="wallet-name-address-label">{{ wallet.address }}</span>
    </div>
  </div>
  <div class="wallet-controls-container">
    <div class="wallet-common-operations-container">
      <button mat-icon-button color="primary">
        <mat-icon>visibility</mat-icon>
      </button>
      <button mat-icon-button color="primary">
        <mat-icon>file_copy</mat-icon>
      </button>
    </div>
    <div class="wallet-extra-operations-container">
      <button mat-icon-button color="primary">
        <mat-icon>more_vert</mat-icon>
      </button>
    </div>
  </div>
</div>
